/* Global */
$font-one: 'Lato', sans-serif;
$font-two: 'Lobster', cursive;
$font-three: 'Raleway', sans-serif;

$color-one: #fbc531;
$color-two: #353b48;
$color-three: #dcdde1;


h4 {
    color: $color-one;
    font-family: $font-three;
    font-size: 75px;
    border: solid black;
}